.cart__icon-wrapper {
  display: none;
  position: fixed;
  background: #373737;
  bottom: 5%;
  right: 7%;
  padding: 30px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-animation: swayCart 3s ease-in-out infinite;
  -moz-animation: swayCart 3s ease-in-out infinite;
  -o-animation: swayCart 3s ease-in-out infinite;
  animation: swayCart 3s ease-in-out infinite;
  justify-content: center;
}
.cart__icon-wrapper span {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 16px;
  background: #f51167;
  color: #fff;
  border-radius: 3px;
  padding-left: 9px;
  padding-right: 9px;
}
.cart__icon-wrapper i {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .cart__icon-wrapper {
    display: flex;
  }
}

@-webkit-keyframes swayCart {
  0% {
    -webkit-transform: rotate(0deg);
  }

  3% {
    -webkit-transform: rotate(10deg);
  }

  6% {
    -webkit-transform: rotate(0deg);
  }

  9% {
    -webkit-transform: rotate(-10deg);
  }

  12% {
    -webkit-transform: rotate(0deg);
  }

  15% {
    -webkit-transform: rotate(10deg);
  }

  18% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes swayCart {
  0% {
    -moz-transform: rotate(0deg);
  }

  3% {
    -moz-transform: rotate(10deg);
  }

  6% {
    -moz-transform: rotate(0deg);
  }

  9% {
    -moz-transform: rotate(-10deg);
  }

  12% {
    -moz-transform: rotate(0deg);
  }

  15% {
    -moz-transform: rotate(10deg);
  }

  18% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes swayCart {
  0% {
    -o-transform: rotate(0deg);
  }

  3% {
    -o-transform: rotate(10deg);
  }

  6% {
    -o-transform: rotate(0deg);
  }

  9% {
    -o-transform: rotate(-10deg);
  }

  12% {
    -o-transform: rotate(0deg);
  }

  15% {
    -o-transform: rotate(10deg);
  }

  18% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(0deg);
  }
}

@keyframes swayCart {
  0% {
    transform: rotate(0deg);
  }

  3% {
    transform: rotate(10deg);
  }

  6% {
    transform: rotate(0deg);
  }

  9% {
    transform: rotate(-10deg);
  }

  12% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(10deg);
  }

  18% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
