.each-fade-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
  text-align: center;
}
.each-fade-effect .image__container img {
  object-fit: cover;
  filter: brightness(50%);
  height: 90vh;
  width: 100vw;
}
.each-fade-effect .carousel__captions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 55px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
}
.each-fade-effect .carousel__captions h5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #f51167;
}
.each-fade-effect .carousel__captions h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
}
.each-fade-effect .carousel__captions a {
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 5rem;
  background: #fff;
  color: #f51167;
  font-weight: 600;
}
.each-fade-effect .carousel__captions a:hover {
  background: transparent;
  color: #fff;
}
.react-slideshow-container + ul.indicators {
  position: absolute !important;
  padding-left: 0;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.react-slideshow-container + ul.indicators li {
  margin-right: 10px !important;
}
button.each-slideshow-indicator.active::before {
  background: #f51167 !important;
}
button.each-slideshow-indicator::before {
  width: 9px !important;
  height: 9px !important;
  background: #fff !important;
}

/* DESKTOPS */

@media only screen and (min-width: 769px) {
  .react-slideshow-container + ul.indicators {
    top: 61%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .each-fade-effect .carousel__captions {
    width: 80%;
  }
  .react-slideshow-container + ul.indicators {
    top: 56%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .react-slideshow-container + ul.indicators {
    top: 68%;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1290px) {
  .react-slideshow-container + ul.indicators {
    top: 63%;
  }
}

/* TABLETS */

@media only screen and (min-width: 834px) and (max-width: 835px) {
  .react-slideshow-container + ul.indicators {
    top: 58%;
  }
}
@media only screen and (max-width: 768px) {
  .each-fade-effect .carousel__captions {
    width: 85%;
  }
  .react-slideshow-container + ul.indicators {
    top: 60%;
  }
}

/* MOBILE */

@media only screen and (max-width: 480px) {
  .each-fade-effect .carousel__captions h5 {
    font-size: 18px;
  }
  .each-fade-effect .carousel__captions h1 {
    font-size: 40px;
  }
  .react-slideshow-container + ul.indicators {
    top: 63%;
  }
}
@media only screen and (max-width: 360px) {
  .each-fade-effect .carousel__captions h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 412px) and (max-width: 413px) {
  .react-slideshow-container + ul.indicators {
    top: 61%;
  }
}
