.newsletter {
  /* height: 20vh; */
  background: #e4e4e4;
  padding: 40px 0;
  margin-bottom: 20px;
  text-align: center;
}
.newsletter hr {
  background: #f51167;
  width: 50px;
}
.newsletter-form {
  margin-top: 30px;
}
.newsletter-form input {
  height: 40px;
  /* padding: 0 10px; */
  background: #fff;
  padding: 0 20px;
  /* width: 50%; */
  width: 100%;
  border-radius: 3px;
  /* align-self: center; */
  border: 1px solid #4c4c4c;
}
.newsletter-form input:focus {
  outline: none;
  border: 1px solid #f51167;
  box-shadow: none;
}
.newsletter-form button {
  padding: 0.4rem 2rem;
  cursor: pointer;
  width: 100%;
  border-radius: px;
  border: 1px solid #f51167;
  background: transparent;
  color: #4c4c4c;
}
.newsletter-form button:hover {
  background: #f51167;
  color: #fff;
}
