.about__h2 {
  text-align: center;
  color: #5c5c5c;
}
.about__image__container {
  height: 80%;
  overflow: hidden;
}
.about__text .social__icons i {
  background: #e4e4e4;
  font-size: 24px;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  color: #1a6692;
  transition: all 150ms ease-in 120ms;
  cursor: pointer;
}
.about__text .social__icons i:hover {
  color: #f51167;
}
.about__text h5 {
  color: #1a6692;
  font-size: 24px;
  margin-top: 20px;
}
.about__text p {
  font-size: 18px;
}
.happy__partners {
  margin-bottom: 30px;
}
.happy__partners .col-md-3 {
  text-align: center;
  margin-bottom: 15px;
}
.partner {
  background: #e4e4e4;
  border-radius: 5px;
  padding: 10px 0;
}
.partner i {
  font-size: 32px;
  color: #f51167;
  margin: 20px 0 10px 0;
}
.partner p {
  font-size: 18px;
  /* color: #9c9c9c; */
  /* margin-bottom: 20px; */
}
