.contact__info {
  margin-bottom: 40px;
}
.contact__card {
  padding: 10px 0 20px 0;
  background: #e4e4e4;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  transition: all 150ms ease-in 120ms;
}
.contact__card:hover i,
.contact__info .social__icons i:hover {
  color: #f51167;
}
.contact__card i {
  font-size: 24px;
  color: #1a6692;
  margin: 10px 0;
}
.contact__card p {
  margin-bottom: 5px;
  color: #373737;
}
.contact__card a {
  color: #1a6692;
}
.contact__info .social__icons i {
  background: #e4e4e4;
  font-size: 18px;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  color: #1a6692;
  transition: all 150ms ease-in 120ms;
  cursor: pointer;
}
.contact__h2 {
  color: #1a6692;
}
.contact-form input {
  border-radius: 3rem;
  margin-bottom: 20px;
  background: #e4e4e4 !;
}
.contact-form textarea {
  margin-bottom: 20px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: none;
  border: 1px solid #f51167;
}
.contact-form button {
  padding: 0.5rem 0;
  cursor: pointer;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid #f51167;
  background: #f51167;
  color: #fff;
}
.contact-form button:hover {
  background: transparent;
  color: #f51167;
}

/* Modal Styles */

.contactModal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 1000000;
}
.contactModal.hidden {
  display: none;
}
.contactModal .modalContainer {
  width: 80%;
  padding: 20px;
}
.contactModal .modalContainer .modalBody {
  display: inline-block;
  background-color: #fff;
  border: 1px solid none;
  padding: 10px;
  border-radius: 4px;
}
.modalBody .fa {
  font-size: 40px;
  padding: 20px 0;
}
.modalBody .fa-check-circle {
  color: #f51167;
}
.modalBody .fa-times-circle {
  /* color: red; */
  color: #f00;
}
.modalBody #modalHTwo {
  font-size: 24px;
  /* color: #f51167; */
}
.modalBody #modalP {
  color: #4c4c4c;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
}
.modalBody button {
  border: 1px solid #f51167;
  background-color: transparent;
  color: #4c4c4c;
  width: 50%;
  margin-bottom: 20px;
}
