/* .hottest {
  height: 80vh;
} */
.hot__right__now {
  margin: 5rem 0 3rem 0;
}
.hot__right__now h2 {
  text-transform: uppercase;
  font-size: 36px;
}
.hot__right__now hr {
  border: 1px solid #f51167;
  width: 150px;
  margin-top: 5px;
}
.most__hot__carousel {
  margin-top: 3rem;
}
.most__hot__carousel .owl-nav {
  text-align: center;
}
.most__hot__carousel .owl-nav button span {
  font-size: 48px;
  margin: 0 30px;
  color: #f51167;
}
.most__hot__carousel .owl-item img {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.most__hot__carousel .dress__cta {
  position: absolute;
  opacity: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  bottom: auto;
  /* width: 50%; */
}
.most__hot__carousel .dress__cta a {
  border: 1px solid #fff;
  color: #fff;
  background: #f51167;
  border-radius: 5rem;
  padding: 5px 25px;
  margin-bottom: 20px;
}
.most__hot__carousel .dress__cta a:hover {
  background: #fff;
  color: #f51167;
}
.most__hot__carousel .dress__cta .utilities .fas {
  display: inline;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  margin: 0 10px;
  background: #fff;
  cursor: pointer;
}
.most__hot__carousel .dress__cta .utilities .fas:hover {
  background: #f51167;
  color: #fff;
}
.most__hot__carousel .owl-item .image__wrapper:hover img {
  filter: brightness(30%);
}
.most__hot__carousel .owl-item .image__wrapper:hover .dress__cta {
  opacity: 1;
  -webkit-transition: all 150ms ease-in 120ms;
  -o-transition: all 150ms ease-in 120ms;
  transition: all 150ms ease-in 120ms;
}

.dress__info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.dress__info p:hover .high {
  color: red;
}
.dress__info p {
  color: #111111;
  width: 70%;
  text-align: left;
}
.dress__info h6 {
  font-weight: 700;
  margin-left: 8px;
}
