.search-form {
  margin-bottom: 50px;
}
.search-form input {
  width: 50%;
  margin: 0 auto;
}
.search-form input:focus {
  box-shadow: none;
  border: 1px solid #f51167;
}

@media only screen and (max-width: 480px) {
  .search-form input {
    width: 80%;
  }
}
