.single__dress_carousel .owl-dots .owl-dot.active span {
  background: #f51167;
  margin-top: 10px;
}
.dress__details {
  margin-bottom: 30px;
}
.dress__details h3 {
  margin-top: 15px;
  text-transform: uppercase;
}
.dress__details .product__price {
  font-weight: 700;
  font-size: 24px;
  color: #f51167;
}
/* .dress__details p {
  letter-spacing: 1px;
  margin-top: 20px;
} */
.dress__details .category__title {
  color: #fff;
  margin: 20px 0;
  display: block;
  background: #4c4c4c;
  padding: 5px 10px;
  border-radius: 3px;
  width: 50%;
  font-size: 18px;
}
.dress__details .quantity__cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.dress__details .quantity__cart .cart__increment {
  border-radius: 4px;
  padding: 6px 0;
  border: 1px solid #4c4c4c;
  margin-right: 10px;
}
.cart__increment i {
  margin: 0 20px;
  color: #4c4c4c;
}
.cart__increment i:active {
  color: #f51167;
}
.cart__increment p {
  display: inline;
}
.dress__details .quantity__cart button {
  border: 1px solid #f51167;
  background: #f51167;
  color: #fff;
  margin-left: 20px;
}
.dress__details .quantity__cart button:hover {
  transform: scale(1.02);
  background: transparent;
  color: #4c4c4c;
}
.dress__details .social__media-icons {
  display: flex;
  margin-top: 30px;
  cursor: pointer;
  /* justify-content: space-between;
  align-items: center; */
}
.dress__details .social__media-icons .fab {
  font-size: 18px;
  color: #bbbbbb;
  margin-right: 20px;
}
.dress__details .social__media-icons .fab:hover {
  color: #f51167;
}
