.track-order h2 {
  color: #f51167;
  text-align: center;
  text-transform: uppercase;
}
.track-order hr {
  margin-top: -5px;
}
.track-order .order-status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.track-order .order-status .processing,
.track-order .order-status .delivered {
  border: 1px solid #4c4c4c;
  padding: 20px 40px 10px;
}
.track-order .order-status .delivered i,
.track-order .order-status .delivered p {
  color: #888888;
}
.track-order .order-status .processing p,
.track-order .order-status .delivered.true p {
  color: #4c4c4c;
}
.track-order .order-status .delivered.true i,
.track-order .order-status .processing i {
  color: #fff;
  background: green;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.track-order .order-details {
  border: 1px solid #4c4c4c;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 3px;
}
.track-order .order-details p {
  margin-bottom: 10px;
  color: #f51167;
}
.request-refund {
  border: 1px solid #f51167;
  width: 100%;
  color: #4c4c4c;
}
.request-refund:hover {
  color: #fff;
  background: #f51167;
}
